@model CMSPlus.Domain.Models.TopicModels.TopicDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}
<div class="container m-3">
    <h1 class="row-12 text-black">@Model.Title</h1>
    <div class="row">
        <p class="col-6 text-start text-black-50">Updated: @Model.UpdatedOnUtc</p>
        <p class="col-6 text-end text-black-50">Created: @Model.CreatedOnUtc</p>
    </div>
    <p class="row-12 text-black">@Html.Raw(Model.Body)</p>
    <div class="row">
        <p class="col-12 text-black-50 text-end">System name: @Model.SystemName</p>
    </div>
</div>
<h3 class="mt-5">Add a Comment</h3>
@using (Html.BeginForm("Create", "Comment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CreateComment.TopicId, new { Value = Model.Id })
    <div> class="form-group">
        @Html.LabelFor(model => model.CreateComment.FullName, new { @class = "form-label" })
        @Html.TextAreaFor(model => model.CreateComment.FullName, new { @class = "form-control", placeholder = "Enter your Full Name Comment" })
        @Html.ValidationMessageFor(model => model.CreateComment.FullName, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.CreateComment.Comment, new { @class = "form-label" })
        @Html.TextAreaFor(model => model.CreateComment.Comment, new { @class = "form-control", placeholder = "Enter your comment" })
        @Html.ValidationMessageFor(model => model.CreateComment.Comment, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Comment</button>
    </div>
}